*.iml
.tmp/
.gradle
caches/
android.lock
daemon/
!/lib/Cache
.idea
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
native/
wrapper/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
android/
local.properties
jars-9/
scripts/
